#card-element {
  width: 492px;
  border: 1px solid #ccc;
  padding: 4px;
  margin-bottom: 1em;
  color: #3b3b3b;
}

.ajax-error {
  width: 492px;
  color: #eb1c26;
  padding: 4px;
  display: none;
}

#other-amount-wrapper {
  display: none;
  position: relative;
  top: -2.5em;
}

.form-item-amount-other {
  display: inline-block;
  margin-left: .5em;
}

#edit-submit {
  display: block;
}
